<div class="card-group"  >
    <div class="card" style="border: white">

        <table style="margin-left: 10% ;width: 400px">
            
            <th style="">
             
                <img src="..\..\assets\1509135367facebook-logo-icon-very-clear-blue-png.png" style="width:18%">
            </th>

            <th>
                <img src=".\..\assets\580b57fcd9996e24bc43c53e.png" style="width:21%">

            </th>
            <th>
                <img src="..\..\assets\instagram-png-instagram-icon-1600.png" style="width:19%">
            </th>
            <th>
                <img src="..\..\assets\linkedIn_PNG22.png" style="width: 18%">

            </th> 

         

           
        </table>
        

     
      
    </div>
    <div class="card" style="border: white  ">
        <img src="..\..\assets\new-logo3.png" style="width: 60% ; margin-left: 25%;height: 100%;"  >
           
     
    </div>
    <div class="card" style="border: white">
    
        <img src="..\..\assets\img_215059.png" style="width: 6% ; margin-left: 40%;height: 30%; margin-top: 2%">
        <label   routerLink="/My Account"  style="margin-left:35%; color:rgb(9, 121, 141) ">My Account</label>
      
    </div>

  </div>
        


















































































































         

 
