

<!--<router-outlet></router-outlet>-->

<base href="https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/">
<div id="captioned-gallery">
	<figure class="slider" >
		<figure >
			<img src="..\..\assets\photo-1486427944299-d1955d23e34d.jpg" alt >
			<figcaption>You Can Expect The Best Of Your Cakes In Sri Lanka....!</figcaption>
			
		</figure>
		<figure>
			<img src="..\..\assets\cake-birthday-cake-sweet-food-wallpaper-preview.jpg" alt>
			<figcaption>Beautiful Homemade Cake,Created Specially For You</figcaption>
		</figure>
		<figure>
            <img src="..\..\assets\easter1a.png" alt>
			<figcaption>Freashly Baked To Order</figcaption>
		</figure>
	</figure>
</div>


