
    
    <br />
  
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
   
    <div class="container">
   
        <hr />
        <p class="txt-railway">- Contact us on : 0342235643 -</p>
            <div class="text-center center-block" style="background-color: #046b79">
                <p class="txt-railway" style="color: blanchedalmond">- CakeSriLanka.com -</p>
                
                <br />
                    <a ><i class="fa fa-facebook-square fa-3x social"></i></a>
                    <a ><i class="fa fa-twitter-square fa-3x social"></i></a>
                    <a ><i class="fa fa-google-plus-square fa-3x social"></i></a>
                    <a ><i class="fa fa-envelope-square fa-3x social"></i></a>
    </div>
        <hr />
    </div>