<div class="container" style="padding: 16px;">  
    <div class="text-center center-block" style="background-color: #068ea0">
        <a class="navbar-brand" routerLink="/Wedding Cakes/{{custId}}/{{custName}}" style="color: whitesmoke;padding: 15px ;background-color:  #046b79">Wedding Cakes  </a>
        <a class="navbar-brand" routerLink="/Special Occation Cakes/{{custId}}/{{custName}}" style="color: whitesmoke; padding: 15px;  background-color:  #046b79 ">  Special Occation Cakes</a>
        <a class="navbar-brand" routerLink="/Birthday Cakes/{{custId}}/{{custName}}" style="color: whitesmoke ;padding: 15px; background-color:  #046b79 ">Birthday Cakes</a>      
        <a class="navbar-brand" routerLink="/View Your Cart Here" style="color: whitesmoke ;padding: 15px; background-color:  #046b79 ">View Your Cart Here</a>      

      </div>    
</div>




    <div class="container">
      <div class="row">
        <div class="col-sm">
    
    
            <div class="slider">
                <h6>Low Price Ranges</h6>
            
                <div class="slides">
                  <div id="slide-1">
                    <img src="..\..\assets\bd1.png" class="card-img-top" style="height: 200px ;width: 200px">
                    <div style="margin-top: 70%">
                      <h6>#B001</h6>
                      <h5>___ Sweet Birthday Cake___</h5>
                      <h6>1000.00</h6>
                      <h6>Birthday</h6>       
                      <button type="button"  class="btn btn-primary  btn-block" data-toggle="modal" data-target="#myModal1">Add To Cart</button>

                    </div>
                    
    
                  </div>
                  <div id="slide-2">
                    <img src="..\..\assets\bd2.png" class="card-img-top" style="height: 200px ;width: 200px">
                    <div style="margin-top: 70%">
                   
                      <h6>#B001</h6>
                      <h5>___ Sweet Birthday Cake___</h5>
                      <h6>1000.00</h6>
                      <h6>Birthday</h6>       
                      <button type="button"  class="btn btn-primary  btn-block" data-toggle="modal" data-target="#myModal2">Add To Cart</button>

                    </div>
    
                  </div>
                  <div id="slide-3">
                    <img src="..\..\assets\bd3.jpg" class="card-img-top" style="height: 200px ;width: 200px">
                    <div style="margin-top: 70%">
                      <h6>#B003</h6>
                      <h5>___ Sweet Birthday Cake___</h5>
                      <h6>1500.00</h6>
                      <h6>Birthday</h6>       
                      <button type="button"  class="btn btn-primary  btn-block" data-toggle="modal" data-target="#myModal3">Add To Cart</button>
                      
                     
                    </div>
                  </div>
                
                
                </div>
              </div>
    
    
        
        </div>
        <div class="col-sm">
            <div class="slider">
                <h6>Middle Price Ranges</h6>
             
              
                <div class="slides">
                  <div id="slide-6">
                      <img src="..\..\assets\bd6.jpg" class="card-img-top" style="height: 200px ;width: 200px">
                      <div style="margin-top: 70%">
                   
                        <h6>#B001</h6>
                        <h5>___ Sweet Birthday Cake___</h5>
                        <h6>1000.00</h6>
                        <h6>Birthday</h6>       
                        <button type="button"  class="btn btn-primary  btn-block" data-toggle="modal" data-target="#myModal4">Add To Cart</button>
  
                      </div>
    
                  </div>
                  <div id="slide-7">
    
                      <img src="..\..\assets\bd7.png" class="card-img-top" style="height: 200px ;width: 200px">
                      <div style="margin-top: 70%">
                        <h6>#B001</h6>
                        <h5>___ Sweet Birthday Cake___</h5>
                        <h6>1000.00</h6>
                        <h6>Birthday</h6>       
                        <button type="button"  class="btn btn-primary  btn-block" data-toggle="modal" data-target="#myModal5">Add To Cart</button>
  
                      </div>
                  </div>
                  <div id="slide-8">
                      <img src="..\..\assets\bd8.png" class="card-img-top" style="height: 200px ;width: 200px">
                      <div style="margin-top: 70%">
                   
                        <h6>#B001</h6>
                        <h5>___ Sweet Birthday Cake___</h5>
                        <h6>1000.00</h6>
                        <h6>Birthday</h6>       
                        <button type="button"  class="btn btn-primary  btn-block" data-toggle="modal" data-target="#myModal6">Add To Cart</button>
  
                      </div>
                  </div>
                
                
                </div>
              </div>
        </div>
        <div class="col-sm">
            <div class="slider">
    
              <h6>Highest Price Ranges</h6>
         
              
                <div class="slides">
                  <div id="slide-11">
                      <img src="..\..\assets\bd11.jpg" class="card-img-top" style="height: 200px ;width: 200px">
                      <div style="margin-top: 70%">
                   
                        <h6>#B001</h6>
                        <h5>___ Sweet Birthday Cake___</h5>
                        <h6>1000.00</h6>
                        <h6>Birthday</h6>       
                        <button type="button"  class="btn btn-primary  btn-block" data-toggle="modal" data-target="#myModal7">Add To Cart</button>
  
                      </div>
                  </div>
                  <div id="slide-12">
                      <img src="..\..\assets\bd12.jpg" class="card-img-top" style="height: 200px ;width: 200px">
                      <div style="margin-top: 70%">
                   
                        <h6>#B001</h6>
                        <h5>___ Sweet Birthday Cake___</h5>
                        <h6>1000.00</h6>
                        <h6>Birthday</h6>       
                        <button type="button"  class="btn btn-primary  btn-block" data-toggle="modal" data-target="#myModal8">Add To Cart</button>
  
                      </div>
                  </div>
                  <div id="slide-13">
                      <img src="..\..\assets\bd13.jpg" class="card-img-top" style="height: 200px ;width: 200px">
                      <div style="margin-top: 70%">
                   
                        <h6>#B001</h6>
                        <h5>___ Sweet Birthday Cake___</h5>
                        <h6>1000.00</h6>
                        <h6>Birthday</h6>       
                        <button type="button"  class="btn btn-primary  btn-block" data-toggle="modal" data-target="#myModal9">Add To Cart</button>
  
                      </div>
                  </div>
                
                 
                </div>
              </div>
        </div>
      </div>
    </div>


    <!-- //////foot///////// -->
    <div class="container" style="padding: 16px;">  
  <div class="text-center center-block" style="background-color: #9beff1">
    <div class="heart"><a>{{custId}}</a></div>
    
    <h1>Enjoy With Your Tast...!!!</h1>
    <h1 >{{custName}}</h1>
    </div>    
</div>
    <!-- //////////////////// -->
    
    
    <!--/////////////////////////1////////////////////////////////////////  -->

    <div class="container">
      <div class="modal fade" id="myModal1" role="dialog">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header" style="background-color:rgb(192, 240, 240)">
        
              <div class="form-row">
                <div class="col-4">
                  <img src="..\..\assets\new-logo3.png" class="card-img-top" style="height: 50px ;width: 200px ;">
                </div>
                  <div class="col">
                      <input class="form-control" type="text" value="{{custId}}" readonly>
                  </div>
                  <div class="col">
                      <input class="form-control" type="text" value="Order{{custId}}" readonly>
                  </div>
                  <div class="col">
                      <input class="form-control" value="{{today | date:'dd-MM-yyyy '}}" readonly>
                  </div>
                </div>
              <button type="button" class="close" data-dismiss="modal">&times;</button>  
            </div>
            <div class="modal-body">
              <form class="form-horizontal" action="/action_page.php">
                <img   src="..\..\assets\Wedding-Cake-Free-PNG-Image.png"  class="card-img-top" style="height: 300px ;width: 300px ;">
                <div class="form-group">
                  <label class="control-label col-sm-2" >Item Id :</label>
                  <div class="col-sm-10">
                    <input  class="form-control"  value="B#001" readonly >
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-sm-2" >Item Name:</label>
                  <div class="col-sm-10">          
                    <input  class="form-control"  value="Sweet Birthday  Cake" readonly>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-sm-2" >Item Price:</label>
                  <div class="col-sm-10">          
                    <input  class="form-control" value="1000.00" readonly>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-sm-2" > Category :</label>
                  <div class="col-sm-10">          
                    <input  class="form-control"   value="Wedding Cake" readonly>
                  </div>
                </div>
               
                <div class="form-group">        
                  <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit"  class="btn btn-success">Add To The Cart</button>
                  </div>
                </div>
              </form>
            </div>
            <div class="modal-footer" style="background-color: rgb(192, 240, 240)" >
              <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
            </div>
          </div>
        </div>
      </div>
    </div> 



    <!--/////////////////////////02////////////////////////////////////////  -->

    <div class="container">
      <div class="modal fade" id="myModal2" role="dialog">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header" style="background-color:rgb(192, 240, 240)">
        
              <div class="form-row">
                <div class="col-4">
                  <img src="..\..\assets\new-logo3.png" class="card-img-top" style="height: 50px ;width: 200px ;">
                </div>
                  <div class="col">
                      <input class="form-control" type="text" value="{{custId}}" readonly>
                  </div>
                  <div class="col">
                      <input class="form-control" type="text" value="Order{{custId}}" readonly>
                  </div>
                  <div class="col">
                      <input class="form-control" value="{{today | date:'dd-MM-yyyy '}}" readonly>
                  </div>
                </div>
              <button type="button" class="close" data-dismiss="modal">&times;</button>  
            </div>
            <div class="modal-body">
              <form class="form-horizontal" action="/action_page.php">
                <img   src="..\..\assets\Wedding-Cake-Free-PNG-Image.png"  class="card-img-top" style="height: 300px ;width: 300px ;">
                <div class="form-group">
                  <label class="control-label col-sm-2" >Item Id :</label>
                  <div class="col-sm-10">
                    <input  class="form-control"  value="B#001" readonly >
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-sm-2" >Item Name:</label>
                  <div class="col-sm-10">          
                    <input  class="form-control"  value="Sweet Birthday  Cake" readonly>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-sm-2" >Item Price:</label>
                  <div class="col-sm-10">          
                    <input  class="form-control" value="1000.00" readonly>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-sm-2" > Category :</label>
                  <div class="col-sm-10">          
                    <input  class="form-control"   value="Wedding Cake" readonly>
                  </div>
                </div>
               
                <div class="form-group">        
                  <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit"  class="btn btn-success">Add To The Cart</button>
                  </div>
                </div>
              </form>
            </div>
            <div class="modal-footer" style="background-color: rgb(192, 240, 240)" >
              <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
            </div>
          </div>
        </div>
      </div>
    </div> 

    
    <!--/////////////////////////3////////////////////////////////////////  -->

    <div class="container">
      <div class="modal fade" id="myModal3" role="dialog">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header" style="background-color:rgb(192, 240, 240)">
        
              <div class="form-row">
                <div class="col-4">
                  <img src="..\..\assets\new-logo3.png" class="card-img-top" style="height: 50px ;width: 200px ;">
                </div>
                  <div class="col">
                      <input class="form-control" type="text" value="{{custId}}" readonly>
                  </div>
                  <div class="col">
                      <input class="form-control" type="text" value="Order{{custId}}" readonly>
                  </div>
                  <div class="col">
                      <input class="form-control" value="{{today | date:'dd-MM-yyyy '}}" readonly>
                  </div>
                </div>
              <button type="button" class="close" data-dismiss="modal">&times;</button>  
            </div>
            <div class="modal-body">
              <form class="form-horizontal" action="/action_page.php">
                <img   src="..\..\assets\Wedding-Cake-Free-PNG-Image.png"  class="card-img-top" style="height: 300px ;width: 300px ;">
                <div class="form-group">
                  <label class="control-label col-sm-2" >Item Id :</label>
                  <div class="col-sm-10">
                    <input  class="form-control"  value="B#001" readonly >
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-sm-2" >Item Name:</label>
                  <div class="col-sm-10">          
                    <input  class="form-control"  value="Sweet Birthday  Cake" readonly>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-sm-2" >Item Price:</label>
                  <div class="col-sm-10">          
                    <input  class="form-control" value="1000.00" readonly>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-sm-2" > Category :</label>
                  <div class="col-sm-10">          
                    <input  class="form-control"   value="Wedding Cake" readonly>
                  </div>
                </div>
               
                <div class="form-group">        
                  <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit"  class="btn btn-success">Add To The Cart</button>
                  </div>
                </div>
              </form>
            </div>
            <div class="modal-footer" style="background-color: rgb(192, 240, 240)" >
              <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
            </div>
          </div>
        </div>
      </div>
    </div> 

    
    <!--/////////////////////////4////////////////////////////////////////  -->

    <div class="container">
      <div class="modal fade" id="myModal4" role="dialog">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header" style="background-color:rgb(192, 240, 240)">
        
              <div class="form-row">
                <div class="col-4">
                  <img src="..\..\assets\new-logo3.png" class="card-img-top" style="height: 50px ;width: 200px ;">
                </div>
                  <div class="col">
                      <input class="form-control" type="text" value="{{custId}}" readonly>
                  </div>
                  <div class="col">
                      <input class="form-control" type="text" value="Order{{custId}}" readonly>
                  </div>
                  <div class="col">
                      <input class="form-control" value="{{today | date:'dd-MM-yyyy '}}" readonly>
                  </div>
                </div>
              <button type="button" class="close" data-dismiss="modal">&times;</button>  
            </div>
            <div class="modal-body">
              <form class="form-horizontal" action="/action_page.php">
                <img   src="..\..\assets\Wedding-Cake-Free-PNG-Image.png"  class="card-img-top" style="height: 300px ;width: 300px ;">
                <div class="form-group">
                  <label class="control-label col-sm-2" >Item Id :</label>
                  <div class="col-sm-10">
                    <input  class="form-control"  value="B#001" readonly >
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-sm-2" >Item Name:</label>
                  <div class="col-sm-10">          
                    <input  class="form-control"  value="Sweet Birthday  Cake" readonly>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-sm-2" >Item Price:</label>
                  <div class="col-sm-10">          
                    <input  class="form-control" value="1000.00" readonly>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-sm-2" > Category :</label>
                  <div class="col-sm-10">          
                    <input  class="form-control"   value="Wedding Cake" readonly>
                  </div>
                </div>
               
                <div class="form-group">        
                  <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit"  class="btn btn-success">Add To The Cart</button>
                  </div>
                </div>
              </form>
            </div>
            <div class="modal-footer" style="background-color: rgb(192, 240, 240)" >
              <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
            </div>
          </div>
        </div>
      </div>
    </div> 




    <!--/////////////////////////5//////////////////////////////////////  -->

    <div class="container">
      <div class="modal fade" id="myModal5" role="dialog">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header" style="background-color:rgb(192, 240, 240)">
        
              <div class="form-row">
                <div class="col-4">
                  <img src="..\..\assets\new-logo3.png" class="card-img-top" style="height: 50px ;width: 200px ;">
                </div>
                  <div class="col">
                      <input class="form-control" type="text" value="{{custId}}" readonly>
                  </div>
                  <div class="col">
                      <input class="form-control" type="text" value="Order{{custId}}" readonly>
                  </div>
                  <div class="col">
                      <input class="form-control" value="{{today | date:'dd-MM-yyyy '}}" readonly>
                  </div>
                </div>
              <button type="button" class="close" data-dismiss="modal">&times;</button>  
            </div>
            <div class="modal-body">
              <form class="form-horizontal" action="/action_page.php">
                <img   src="..\..\assets\Wedding-Cake-Free-PNG-Image.png"  class="card-img-top" style="height: 300px ;width: 300px ;">
                <div class="form-group">
                  <label class="control-label col-sm-2" >Item Id :</label>
                  <div class="col-sm-10">
                    <input  class="form-control"  value="B#001" readonly >
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-sm-2" >Item Name:</label>
                  <div class="col-sm-10">          
                    <input  class="form-control"  value="Sweet Birthday  Cake" readonly>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-sm-2" >Item Price:</label>
                  <div class="col-sm-10">          
                    <input  class="form-control" value="1000.00" readonly>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-sm-2" > Category :</label>
                  <div class="col-sm-10">          
                    <input  class="form-control"   value="Wedding Cake" readonly>
                  </div>
                </div>
               
                <div class="form-group">        
                  <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit"  class="btn btn-success">Add To The Cart</button>
                  </div>
                </div>
              </form>
            </div>
            <div class="modal-footer" style="background-color: rgb(192, 240, 240)" >
              <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
            </div>
          </div>
        </div>
      </div>
    </div> 

    
    <!--/////////////////////////6////////////////////////////////////////  -->

    <div class="container">
      <div class="modal fade" id="myModal6" role="dialog">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header" style="background-color:rgb(192, 240, 240)">
        
              <div class="form-row">
                <div class="col-4">
                  <img src="..\..\assets\new-logo3.png" class="card-img-top" style="height: 50px ;width: 200px ;">
                </div>
                  <div class="col">
                      <input class="form-control" type="text" value="{{custId}}" readonly>
                  </div>
                  <div class="col">
                      <input class="form-control" type="text" value="Order{{custId}}" readonly>
                  </div>
                  <div class="col">
                      <input class="form-control" value="{{today | date:'dd-MM-yyyy '}}" readonly>
                  </div>
                </div>
              <button type="button" class="close" data-dismiss="modal">&times;</button>  
            </div>
            <div class="modal-body">
              <form class="form-horizontal" action="/action_page.php">
                <img   src="..\..\assets\Wedding-Cake-Free-PNG-Image.png"  class="card-img-top" style="height: 300px ;width: 300px ;">
                <div class="form-group">
                  <label class="control-label col-sm-2" >Item Id :</label>
                  <div class="col-sm-10">
                    <input  class="form-control"  value="B#001" readonly >
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-sm-2" >Item Name:</label>
                  <div class="col-sm-10">          
                    <input  class="form-control"  value="Sweet Birthday  Cake" readonly>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-sm-2" >Item Price:</label>
                  <div class="col-sm-10">          
                    <input  class="form-control" value="1000.00" readonly>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-sm-2" > Category :</label>
                  <div class="col-sm-10">          
                    <input  class="form-control"   value="Wedding Cake" readonly>
                  </div>
                </div>
               
                <div class="form-group">        
                  <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit"  class="btn btn-success">Add To The Cart</button>
                  </div>
                </div>
              </form>
            </div>
            <div class="modal-footer" style="background-color: rgb(192, 240, 240)" >
              <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
            </div>
          </div>
        </div>
      </div>
    </div> 

    
    <!--/////////////////////////7///////////////////////////////////////  -->

    <div class="container">
      <div class="modal fade" id="myModal7" role="dialog">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header" style="background-color:rgb(192, 240, 240)">
        
              <div class="form-row">
                <div class="col-4">
                  <img src="..\..\assets\new-logo3.png" class="card-img-top" style="height: 50px ;width: 200px ;">
                </div>
                  <div class="col">
                      <input class="form-control" type="text" value="{{custId}}" readonly>
                  </div>
                  <div class="col">
                      <input class="form-control" type="text" value="Order{{custId}}" readonly>
                  </div>
                  <div class="col">
                      <input class="form-control" value="{{today | date:'dd-MM-yyyy '}}" readonly>
                  </div>
                </div>
              <button type="button" class="close" data-dismiss="modal">&times;</button>  
            </div>
            <div class="modal-body">
              <form class="form-horizontal" action="/action_page.php">
                <img   src="..\..\assets\Wedding-Cake-Free-PNG-Image.png"  class="card-img-top" style="height: 300px ;width: 300px ;">
                <div class="form-group">
                  <label class="control-label col-sm-2" >Item Id :</label>
                  <div class="col-sm-10">
                    <input  class="form-control"  value="B#001" readonly >
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-sm-2" >Item Name:</label>
                  <div class="col-sm-10">          
                    <input  class="form-control"  value="Sweet Birthday  Cake" readonly>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-sm-2" >Item Price:</label>
                  <div class="col-sm-10">          
                    <input  class="form-control" value="1000.00" readonly>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-sm-2" > Category :</label>
                  <div class="col-sm-10">          
                    <input  class="form-control"   value="Wedding Cake" readonly>
                  </div>
                </div>
               
                <div class="form-group">        
                  <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit"  class="btn btn-success">Add To The Cart</button>
                  </div>
                </div>
              </form>
            </div>
            <div class="modal-footer" style="background-color: rgb(192, 240, 240)" >
              <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
            </div>
          </div>
        </div>
      </div>
    </div> 


    <!--/////////////////////////8///////////////////////////////////////  -->

    <div class="container">
      <div class="modal fade" id="myModal8" role="dialog">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header" style="background-color:rgb(192, 240, 240)">
        
              <div class="form-row">
                <div class="col-4">
                  <img src="..\..\assets\new-logo3.png" class="card-img-top" style="height: 50px ;width: 200px ;">
                </div>
                  <div class="col">
                      <input class="form-control" type="text" value="{{custId}}" readonly>
                  </div>
                  <div class="col">
                      <input class="form-control" type="text" value="Order{{custId}}" readonly>
                  </div>
                  <div class="col">
                      <input class="form-control" value="{{today | date:'dd-MM-yyyy '}}" readonly>
                  </div>
                </div>
              <button type="button" class="close" data-dismiss="modal">&times;</button>  
            </div>
            <div class="modal-body">
              <form class="form-horizontal" action="/action_page.php">
                <img   src="..\..\assets\Wedding-Cake-Free-PNG-Image.png"  class="card-img-top" style="height: 300px ;width: 300px ;">
                <div class="form-group">
                  <label class="control-label col-sm-2" >Item Id :</label>
                  <div class="col-sm-10">
                    <input  class="form-control"  value="B#001" readonly >
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-sm-2" >Item Name:</label>
                  <div class="col-sm-10">          
                    <input  class="form-control"  value="Sweet Birthday  Cake" readonly>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-sm-2" >Item Price:</label>
                  <div class="col-sm-10">          
                    <input  class="form-control" value="1000.00" readonly>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-sm-2" > Category :</label>
                  <div class="col-sm-10">          
                    <input  class="form-control"   value="Wedding Cake" readonly>
                  </div>
                </div>
               
                <div class="form-group">        
                  <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit"  class="btn btn-success">Add To The Cart</button>
                  </div>
                </div>
              </form>
            </div>
            <div class="modal-footer" style="background-color: rgb(192, 240, 240)" >
              <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
            </div>
          </div>
        </div>
      </div>
    </div> 


    
    <!--/////////////////////////9////////////////////////////////////////  -->

    <div class="container">
      <div class="modal fade" id="myModal9" role="dialog">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header" style="background-color:rgb(192, 240, 240)">
        
              <div class="form-row">
                <div class="col-4">
                  <img src="..\..\assets\new-logo3.png" class="card-img-top" style="height: 50px ;width: 200px ;">
                </div>
                  <div class="col">
                      <input class="form-control" type="text" value="{{custId}}" readonly>
                  </div>
                  <div class="col">
                      <input class="form-control" type="text" value="Order{{custId}}" readonly>
                  </div>
                  <div class="col">
                      <input class="form-control" value="{{today | date:'dd-MM-yyyy '}}" readonly>
                  </div>
                </div>
              <button type="button" class="close" data-dismiss="modal">&times;</button>  
            </div>
            <div class="modal-body">
              <form class="form-horizontal" action="/action_page.php">
                <img   src="..\..\assets\Wedding-Cake-Free-PNG-Image.png"  class="card-img-top" style="height: 300px ;width: 300px ;">
                <div class="form-group">
                  <label class="control-label col-sm-2" >Item Id :</label>
                  <div class="col-sm-10">
                    <input  class="form-control"  value="B#001" readonly >
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-sm-2" >Item Name:</label>
                  <div class="col-sm-10">          
                    <input  class="form-control"  value="Sweet Birthday  Cake" readonly>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-sm-2" >Item Price:</label>
                  <div class="col-sm-10">          
                    <input  class="form-control" value="1000.00" readonly>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-sm-2" > Category :</label>
                  <div class="col-sm-10">          
                    <input  class="form-control"   value="Wedding Cake" readonly>
                  </div>
                </div>
               
                <div class="form-group">        
                  <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit"  class="btn btn-success">Add To The Cart</button>
                  </div>
                </div>
              </form>
            </div>
            <div class="modal-footer" style="background-color: rgb(192, 240, 240)" >
              <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
            </div>
          </div>
        </div>
      </div>
    </div> 

