
<div class="container" style="padding: 16px;">  
  <div class="text-center center-block" style="background-color: #068ea0">
      <a class="navbar-brand" routerLink="/Wedding Cakes/{{custId}}/{{custName}}" style="color: whitesmoke;padding: 15px ;background-color:  #046b79">Wedding Cakes  </a>
      <a class="navbar-brand" routerLink="/Special Occation Cakes/{{custId}}/{{custName}}" style="color: whitesmoke; padding: 15px;  background-color:  #046b79 ">  Special Occation Cakes</a>
      <a class="navbar-brand" routerLink="/Birthday Cakes/{{custId}}/{{custName}}" style="color: whitesmoke ;padding: 15px; background-color:  #046b79 ">Birthday Cakes</a>      
      <a class="navbar-brand" routerLink="/View Your Cart Here" style="color: whitesmoke ;padding: 15px; background-color:  #046b79 ">View Your Cart Here</a>      

    </div>    
</div>


<!-- <input  class="form-control"  type="text" value="{{custId}}"  id='#custId' [disabled]="true"  > -->
<!-- <input  class="form-control" type="text"  value="{{custName}}" id='#custName' > -->




<!-- ///////////////////////////////////weddingCakes////////////////////////////////////////////////// -->



<!-- ////////////// -->

<div class="container">
  <div class="row">
    <div class="col-sm">

        


        <div class="slider">
            <h6>Low Price Ranges</h6>
      
          
            <div class="slides">
              <div id="slide-1">
         
                <img src="..\..\assets\two.jpg" class="card-img-top" style="height: 200px ;width: 200px">
                <div style="margin-top: 70%">
                       
                  <h6>#W001</h6>
                  <h5>___ Flower Cake___</h5>
                  <h6>1000.00</h6>
                  <h6>Wedding</h6>
                         
                  <button type="button"  class="btn btn-primary  btn-block" data-toggle="modal" data-target="#myModal1">Add To Cart</button>
                  
                </div>

              </div>


<!-- //////////////////////////// -->

<!-- /////////////////////////// -->


              <div id="slide-2">
                <img src="..\..\assets\one.png" class="card-img-top" style="height: 200px ;width: 200px">
                <div style="margin-top: 70%">
                    <h6>#W002</h6>
                    <h5>___ Couple Cake ___</h5>
                    <h6>1500.00</h6>
                    <h6>Wedding</h6>
                   
                    <button type="button"  class="btn btn-primary  btn-block" data-toggle="modal" data-target="#myModal2">Add To Cart</button>
                  
                </div>

              </div>
              <div id="slide-3">
                <img src="..\..\assets\three.jpg" class="card-img-top" style="height: 200px ;width: 200px">
                <div style="margin-top: 70%">
                  <h6>#W003</h6>
                  <h5>___ Pearl Cake ___</h5>
                  <h6>2000.00</h6>
                  <h6>Wedding</h6>
                 
                  <button type="button"  class="btn btn-primary  btn-block" data-toggle="modal" data-target="#myModal3">Add To Cart</button>
                

                </div>
              </div>
          
            
            </div>
          </div>


    
    </div>
    <div class="col-sm">
        <div class="slider">
            <h6>Middle Price Ranges</h6>
        
          
            <div class="slides">
              <div id="slide-6">
                  <img src="..\..\assets\mid1.jpg" class="card-img-top" style="height: 200px ;width: 200px">
                  <div style="margin-top: 70%">
               
                    <h6>#W004</h6>
                    <h5>___ Layered Cake ___</h5>
                    <h6>2500.00</h6>
                    <h6>Wedding</h6>
                   
                    <button type="button"  class="btn btn-primary  btn-block" data-toggle="modal" data-target="#myModal4">Add To Cart</button>
                  
                   
                  </div>
              </div>
              <div id="slide-7">

                  <img src="..\..\assets\mid2.png" class="card-img-top" style="height: 200px ;width: 200px">
                  <div style="margin-top: 70%">
                    <h6>#W005</h6>
                    <h5>___ Layered Couple Cake ___</h5>
                    <h6>3000.00</h6>
                    <h6>Wedding</h6>
                   
                    <button type="button"  class="btn btn-primary  btn-block" data-toggle="modal" data-target="#myModal5">Add To Cart</button>
                  
                   
                   
                  </div>
              </div>
              <div id="slide-8">
                  <img src="..\..\assets\mid3.jpg" class="card-img-top" style="height: 200px ;width: 200px">
                  <div style="margin-top: 70%">
               
                    <h6>#W006</h6>
                    <h5>___ Layered Flower Cake ___</h5>
                    <h6>3500.00</h6>
                    <h6>Wedding</h6>
                   
                    <button type="button"  class="btn btn-primary  btn-block" data-toggle="modal" data-target="#myModal6">Add To Cart</button>
                  
                   
                   
                  </div>
              </div>
            
            </div>
          </div>
    </div>
    <div class="col-sm">
        <div class="slider">

          <h6>Highest Price Ranges</h6>
        
          
            <div class="slides">
              <div id="slide-11">
                  <img src="..\..\assets\high1.jpg" class="card-img-top" style="height: 200px ;width: 200px">
                  <div style="margin-top: 70%">
               
                    <h6>#W007</h6>
                    <h5>___ Pear Layerd Cake ___</h5>
                    <h6>4500.00</h6>
                    <h6>Wedding</h6>
                   
                    <button type="button"  class="btn btn-primary  btn-block" data-toggle="modal" data-target="#myModal7">Add To Cart</button>
                  
                   
                  </div>
              </div>
              <div id="slide-12">
                  <img src="..\..\assets\high2.jpg" class="card-img-top" style="height: 200px ;width: 200px">
                  <div style="margin-top: 70%">
                    <h6>#W008</h6>
                    <h5>___ Rich Layerd Cake ___</h5>
                    <h6>5000.00</h6>
                    <h6>Wedding</h6>
                   
                    <button type="button"  class="btn btn-primary  btn-block" data-toggle="modal" data-target="#myModal8">Add To Cart</button>
                  
                  </div>
              </div>
              <div id="slide-13">
                  <img src="..\..\assets\Wedding-Cake-Free-PNG-Image.png" class="card-img-top" style="height: 200px ;width: 200px">
                  <div style="margin-top: 70%">
               
                    <h6>#W009</h6>
                    <h5>___ Royal Cake ___</h5>
                    <h6>5500.00</h6>
                    <h6>Wedding</h6>
                   
                    <button type="button"  class="btn btn-primary  btn-block" data-toggle="modal" data-target="#myModal9">Add To Cart</button>
                  
                  </div>
              </div>
            
              
            </div>
          </div>
    </div>
  </div>
</div>


<!-- /////////////////foot///////////// -->
<div class="container" style="padding: 16px;">  
  <div class="text-center center-block" style="background-color: #9beff1">
    <div class="heart"><a id='#custId'>{{custId}}</a></div>
    
    <h1>Enjoy With Your Tast...!!!</h1>
    <h1 id='#custName'>{{custName}}</h1>
 
    </div>    
</div>

<!-- ///////////////////01///////////////////////// -->
<div class="container">
  <div class="modal fade" id="myModal1" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header" style="background-color:rgb(192, 240, 240)">
    
          <div class="form-row">
            <div class="col-4">
              <img src="..\..\assets\new-logo3.png" class="card-img-top" style="height: 50px ;width: 200px ;">
            </div>
              <div class="col">
                  <input class="form-control" type="text" value="{{custId}}" readonly>
                
              </div>
              <div class="col">
                  <input class="form-control" type="text" value="Order{{custId}}" readonly>
              </div>
              <div class="col">
                  <input class="form-control" value="{{today | date:'dd-MM-yyyy '}}" readonly>
              </div>
            </div>




          <button type="button" class="close" data-dismiss="modal">&times;</button>
          
        </div>
        <div class="modal-body">
          <form class="form-horizontal" action="/action_page.php">


            <img src="..\..\assets\two.jpg" class="card-img-top" style="height: 300px ;width: 300px ;">
            <div class="form-group">
              <label class="control-label col-sm-2" >Item Id :</label>
              <div class="col-sm-10">
                <input  class="form-control"  value="W#001" readonly >
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-2" >Item Name:</label>
              <div class="col-sm-10">          
                <input  class="form-control"  value="Flower Cake" readonly>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-2" >Item Price:</label>
              <div class="col-sm-10">          
                <input  class="form-control" value="1000.00" readonly>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-2" > Category :</label>
              <div class="col-sm-10">          
                <input  class="form-control"   value="Wedding Cake" readonly>
              </div>
            </div>
           
            <div class="form-group">        
              <div class="col-sm-offset-2 col-sm-10">
                <button type="submit"  class="btn btn-success">Add To The Cart</button>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer" style="background-color: rgb(192, 240, 240)" >
          <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div> 

<!-- /////////////////////////////////02////////////////////////////////////////////////// -->
<div class="container">
  <div class="modal fade" id="myModal2" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header" style="background-color:rgb(192, 240, 240)">
    
          <div class="form-row">
            <div class="col-4">
              <img src="..\..\assets\new-logo3.png" class="card-img-top" style="height: 50px ;width: 200px ;">
            </div>
              <div class="col">
                  <input class="form-control" type="text" value="{{custId}}" readonly>
              </div>
              <div class="col">
                  <input class="form-control" type="text" value="Order{{custId}}" readonly>
              </div>
              <div class="col">
                  <input class="form-control" value="{{today | date:'dd-MM-yyyy '}}" readonly>
              </div>
            </div>
          <button type="button" class="close" data-dismiss="modal">&times;</button>  
        </div>
        <div class="modal-body">
          <form class="form-horizontal" action="/action_page.php">
            <img src="..\..\assets\one.png"  class="card-img-top" style="height: 300px ;width: 300px ;">
            <div class="form-group">
              <label class="control-label col-sm-2" >Item Id :</label>
              <div class="col-sm-10">
                <input  class="form-control"  value="W#002" readonly >
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-2" >Item Name:</label>
              <div class="col-sm-10">          
                <input  class="form-control"  value="Couple Cake" readonly>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-2" >Item Price:</label>
              <div class="col-sm-10">          
                <input  class="form-control" value="1500.00" readonly>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-2" > Category :</label>
              <div class="col-sm-10">          
                <input  class="form-control"   value="Wedding Cake" readonly>



              </div>
            </div>
           
            <div class="form-group">        
              <div class="col-sm-offset-2 col-sm-10">
                <button type="submit"  class="btn btn-success">Add To The Cart</button>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer" style="background-color: rgb(192, 240, 240)" >
          <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div> 
<!-- ///////////////////////////////////////03///////////////////////////////////////////////////// -->

<div class="container">
  <div class="modal fade" id="myModal3" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header" style="background-color:rgb(192, 240, 240)">
    
          <div class="form-row">
            <div class="col-4">
              <img src="..\..\assets\new-logo3.png" class="card-img-top" style="height: 50px ;width: 200px ;">
            </div>
              <div class="col">
                  <input class="form-control" type="text" value="{{custId}}" readonly>
              </div>
              <div class="col">
                  <input class="form-control" type="text" value="Order{{custId}}" readonly>
              </div>
              <div class="col">
                  <input class="form-control" value="{{today | date:'dd-MM-yyyy '}}" readonly>
              </div>
            </div>
          <button type="button" class="close" data-dismiss="modal">&times;</button>  
        </div>
        <div class="modal-body">
          <form class="form-horizontal" action="/action_page.php">
            <img src="..\..\assets\three.jpg"  class="card-img-top" style="height: 300px ;width: 300px ;">
            <div class="form-group">
              <label class="control-label col-sm-2" >Item Id :</label>
              <div class="col-sm-10">
                <input  class="form-control"  value="W#003" readonly >
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-2" >Item Name:</label>
              <div class="col-sm-10">          
                <input  class="form-control"  value="Pearl Cake" readonly>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-2" >Item Price:</label>
              <div class="col-sm-10">          
                <input  class="form-control" value="2000.00" readonly>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-2" > Category :</label>
              <div class="col-sm-10">          
                <input  class="form-control"   value="Wedding Cake" readonly>



              </div>
            </div>
           
            <div class="form-group">        
              <div class="col-sm-offset-2 col-sm-10">
                <button type="submit"  class="btn btn-success">Add To The Cart</button>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer" style="background-color: rgb(192, 240, 240)" >
          <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div> 
<!-- /////////////////////////////////////04///////////////////////////////////////// -->

<div class="container">
  <div class="modal fade" id="myModal4" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header" style="background-color:rgb(192, 240, 240)">
    
          <div class="form-row">
            <div class="col-4">
              <img src="..\..\assets\new-logo3.png" class="card-img-top" style="height: 50px ;width: 200px ;">
            </div>
              <div class="col">
                  <input class="form-control" type="text" value="{{custId}}" readonly>
              </div>
              <div class="col">
                  <input class="form-control" type="text" value="Order{{custId}}" readonly>
              </div>
              <div class="col">
                  <input class="form-control" value="{{today | date:'dd-MM-yyyy '}}" readonly>
              </div>
            </div>
          <button type="button" class="close" data-dismiss="modal">&times;</button>  
        </div>
        <div class="modal-body">
          <form class="form-horizontal" action="/action_page.php">
            <img src="..\..\assets\mid1.jpg"  class="card-img-top" style="height: 300px ;width: 300px ;">
            <div class="form-group">
              <label class="control-label col-sm-2" >Item Id :</label>
              <div class="col-sm-10">
                <input  class="form-control"  value="W#004" readonly >
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-2" >Item Name:</label>
              <div class="col-sm-10">          
                <input  class="form-control"  value="Layered Cake" readonly>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-2" >Item Price:</label>
              <div class="col-sm-10">          
                <input  class="form-control" value="2500.00" readonly>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-2" > Category :</label>
              <div class="col-sm-10">          
                <input  class="form-control"   value="Wedding Cake" readonly>
              </div>
            </div>
           
            <div class="form-group">        
              <div class="col-sm-offset-2 col-sm-10">
                <button type="submit"  class="btn btn-success">Add To The Cart</button>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer" style="background-color: rgb(192, 240, 240)" >
          <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div> 
<!-- //////////////////////////////////////05//////////////////////////////////////////// -->

<div class="container">
  <div class="modal fade" id="myModal5" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header" style="background-color:rgb(192, 240, 240)">
    
          <div class="form-row">
            <div class="col-4">
              <img src="..\..\assets\new-logo3.png" class="card-img-top" style="height: 50px ;width: 200px ;">
            </div>
              <div class="col">
                  <input class="form-control" type="text" value="{{custId}}" readonly>
              </div>
              <div class="col">
                  <input class="form-control" type="text" value="Order{{custId}}" readonly>
              </div>
              <div class="col">
                  <input class="form-control" value="{{today | date:'dd-MM-yyyy '}}" readonly>
              </div>
            </div>
          <button type="button" class="close" data-dismiss="modal">&times;</button>  
        </div>
        <div class="modal-body">
          <form class="form-horizontal" action="/action_page.php">
            <img   src="..\..\assets\mid2.png"  class="card-img-top" style="height: 300px ;width: 300px ;">
            <div class="form-group">
              <label class="control-label col-sm-2" >Item Id :</label>
              <div class="col-sm-10">
                <input  class="form-control"  value="W#005" readonly >
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-2" >Item Name:</label>
              <div class="col-sm-10">          
                <input  class="form-control"  value="Layered Couple Cake" readonly>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-2" >Item Price:</label>
              <div class="col-sm-10">          
                <input  class="form-control" value="3000.00" readonly>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-2" > Category :</label>
              <div class="col-sm-10">          
                <input  class="form-control"   value="Wedding Cake" readonly>
              </div>
            </div>
           
            <div class="form-group">        
              <div class="col-sm-offset-2 col-sm-10">
                <button type="submit"  class="btn btn-success">Add To The Cart</button>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer" style="background-color: rgb(192, 240, 240)" >
          <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div> 
<!-- //////////////////////////////////////06///////////////////////////////////////////// -->

<div class="container">
  <div class="modal fade" id="myModal6" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header" style="background-color:rgb(192, 240, 240)">
    
          <div class="form-row">
            <div class="col-4">
              <img src="..\..\assets\new-logo3.png" class="card-img-top" style="height: 50px ;width: 200px ;">
            </div>
              <div class="col">
                  <input class="form-control" type="text" value="{{custId}}" readonly>
              </div>
              <div class="col">
                  <input class="form-control" type="text" value="Order{{custId}}" readonly>
              </div>
              <div class="col">
                  <input class="form-control" value="{{today | date:'dd-MM-yyyy '}}" readonly>
              </div>
            </div>
          <button type="button" class="close" data-dismiss="modal">&times;</button>  
        </div>
        <div class="modal-body">
          <form class="form-horizontal" action="/action_page.php">
            <img   src="..\..\assets\mid3.jpg"  class="card-img-top" style="height: 300px ;width: 300px ;">
            <div class="form-group">
              <label class="control-label col-sm-2" >Item Id :</label>
              <div class="col-sm-10">
                <input  class="form-control"  value="W#006" readonly >
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-2" >Item Name:</label>
              <div class="col-sm-10">          
                <input  class="form-control"  value="Layered Flowe Cake" readonly>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-2" >Item Price:</label>
              <div class="col-sm-10">          
                <input  class="form-control" value="3500.00" readonly>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-2" > Category :</label>
              <div class="col-sm-10">          
                <input  class="form-control"   value="Wedding Cake" readonly>
              </div>
            </div>
           
            <div class="form-group">        
              <div class="col-sm-offset-2 col-sm-10">
                <button type="submit"  class="btn btn-success">Add To The Cart</button>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer" style="background-color: rgb(192, 240, 240)" >
          <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div> 
<!-- ////////////////////////////07////////////////////////////////////// -->

<div class="container">
  <div class="modal fade" id="myModal7" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header" style="background-color:rgb(192, 240, 240)">
    
          <div class="form-row">
            <div class="col-4">
              <img src="..\..\assets\new-logo3.png" class="card-img-top" style="height: 50px ;width: 200px ;">
            </div>
              <div class="col">
                  <input class="form-control" type="text" value="{{custId}}" readonly>
              </div>
              <div class="col">
                  <input class="form-control" type="text" value="Order{{custId}}" readonly>
              </div>
              <div class="col">
                  <input class="form-control" value="{{today | date:'dd-MM-yyyy '}}" readonly>
              </div>
            </div>
          <button type="button" class="close" data-dismiss="modal">&times;</button>  
        </div>
        <div class="modal-body">
          <form class="form-horizontal" action="/action_page.php">
            <img   src="..\..\assets\high1.jpg"  class="card-img-top" style="height: 300px ;width: 300px ;">
            <div class="form-group">
              <label class="control-label col-sm-2" >Item Id :</label>
              <div class="col-sm-10">
                <input  class="form-control"  value="W#007" readonly >
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-2" >Item Name:</label>
              <div class="col-sm-10">          
                <input  class="form-control"  value="pearl Layered  Cake" readonly>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-2" >Item Price:</label>
              <div class="col-sm-10">          
                <input  class="form-control" value="4000.00" readonly>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-2" > Category :</label>
              <div class="col-sm-10">          
                <input  class="form-control"   value="Wedding Cake" readonly>
              </div>
            </div>
           
            <div class="form-group">        
              <div class="col-sm-offset-2 col-sm-10">
                <button type="submit"  class="btn btn-success">Add To The Cart</button>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer" style="background-color: rgb(192, 240, 240)" >
          <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div> 
<!-- //////////////////////////////08/////////////////////////////////////////////////// -->

<div class="container">
  <div class="modal fade" id="myModal8" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header" style="background-color:rgb(192, 240, 240)">
    
          <div class="form-row">
            <div class="col-4">
              <img src="..\..\assets\new-logo3.png" class="card-img-top" style="height: 50px ;width: 200px ;">
            </div>
              <div class="col">
                  <input class="form-control" type="text" value="{{custId}}" readonly>
              </div>
              <div class="col">
                  <input class="form-control" type="text" value="Order{{custId}}" readonly>
              </div>
              <div class="col">
                  <input class="form-control" value="{{today | date:'dd-MM-yyyy '}}" readonly>
              </div>
            </div>
          <button type="button" class="close" data-dismiss="modal">&times;</button>  
        </div>
        <div class="modal-body">
          <form class="form-horizontal" action="/action_page.php">
            <img   src="..\..\assets\high2.jpg"  class="card-img-top" style="height: 300px ;width: 300px ;">
            <div class="form-group">
              <label class="control-label col-sm-2" >Item Id :</label>
              <div class="col-sm-10">
                <input  class="form-control"  value="W#008" readonly >
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-2" >Item Name:</label>
              <div class="col-sm-10">          
                <input  class="form-control"  value="Rich Layered  Cake" readonly>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-2" >Item Price:</label>
              <div class="col-sm-10">          
                <input  class="form-control" value="5000.00" readonly>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-2" > Category :</label>
              <div class="col-sm-10">          
                <input  class="form-control"   value="Wedding Cake" readonly>
              </div>
            </div>
           
            <div class="form-group">        
              <div class="col-sm-offset-2 col-sm-10">
                <button type="submit"  class="btn btn-success">Add To The Cart</button>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer" style="background-color: rgb(192, 240, 240)" >
          <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div> 


<!-- //////////////////////////////////////09//////////////////////////////// -->

<div class="container">
  <div class="modal fade" id="myModal9" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header" style="background-color:rgb(192, 240, 240)">
    
          <div class="form-row">
            <div class="col-4">
              <img src="..\..\assets\new-logo3.png" class="card-img-top" style="height: 50px ;width: 200px ;">
            </div>
              <div class="col">
                  <input class="form-control" type="text" value="{{custId}}" readonly>
              </div>
              <div class="col">
                  <input class="form-control" type="text" value="Order{{custId}}" readonly>
              </div>
              <div class="col">
                  <input class="form-control" value="{{today | date:'dd-MM-yyyy '}}" readonly>
              </div>
            </div>
          <button type="button" class="close" data-dismiss="modal">&times;</button>  
        </div>
        <div class="modal-body">
          <form class="form-horizontal" action="/action_page.php">
            <img   src="..\..\assets\Wedding-Cake-Free-PNG-Image.png"  class="card-img-top" style="height: 300px ;width: 300px ;">
            <div class="form-group">
              <label class="control-label col-sm-2" >Item Id :</label>
              <div class="col-sm-10">
                <input  class="form-control"  value="W#009" readonly >
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-2" >Item Name:</label>
              <div class="col-sm-10">          
                <input  class="form-control"  value="Royal  Cake" readonly>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-2" >Item Price:</label>
              <div class="col-sm-10">          
                <input  class="form-control" value="5500.00" readonly>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-2" > Category :</label>
              <div class="col-sm-10">          
                <input  class="form-control"   value="Wedding Cake" readonly>
              </div>
            </div>
           
            <div class="form-group">        
              <div class="col-sm-offset-2 col-sm-10">
                <button type="submit"  class="btn btn-success">Add To The Cart</button>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer" style="background-color: rgb(192, 240, 240)" >
          <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div> 


