<nav class="navbar navbar-expand-lg " style="background-color:aliceblue"> 
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav" >
        <li class="nav-item active"  >
          <a class="nav-link"  routerLink="/home" style="color: #046b79;  padding-left: 90px">HOME <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  style="color: #046b79;  padding-left: 90px">ABOUT US</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" style="color: #046b79; padding-left: 90px">CUSTOMECAKES</a>
        </li>

        <li class="nav-item active"  >
          <a class="nav-link" style="color: #046b79;  padding-left: 90px">HOME <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" style="color: #046b79;  padding-left: 90px">ABOUTUS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" style="color: #046b79;  padding-left: 90px ">CUSTOMECAKES</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" href="#" style="color: #046b79;  padding-left: 90px ">CUSTOMECAKES</a>
        </li>

      </ul>
    </div>
  </nav>
